#!/bin/bash

subscription-manager register --username='{{ redhat_localrepo.rhn_username }}' --password='{{ redhat_localrepo.rhn_password }}'

for pid in $(subscription-manager list --available | grep Pool | cut -d':' -f2 | tr -d ' \t'); do subscription-manager attach --pool=$pid; done

{% for item in redhat_localrepo.repos %}
reposync --gpgcheck -l --repoid={{ item }} --download_path={{ redhat_localrepo.web_root_dir }} --downloadcomps --download-metadata
createrepo --update {{ redhat_localrepo.web_root_dir }}/{{ item }}
{% endfor %}

subscription-manager remove --all
subscription-manager unregister
subscription-manager clean
